body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Color de fondo del cuerpo */
}

.title {
    text-align: center;
    margin-top: 30px;
}

.title h2 {
    font-size: 2em;
    margin: 0;
    padding: 10px 0;
    color: #666; /* Color de texto más gris */
    text-transform: uppercase;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative; /* Para posicionar la información adicional */
    cursor: pointer; /* Cambiar el cursor al puntero al hacer clic */
    background-color: #e0e0e0; /* Fondo de los productos más gris */
}

.product:hover {
    background-color: #d0d0d0; /* Cambia el color de fondo al pasar el mouse */
}

.product img {
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto;
    border: 2px solid red; /* Agregar un borde resaltado */
    border-radius: 5px;
}

.product h2 {
    margin-top: 0px;
    font-size: 1.5em; /* Tamaño de fuente más grande */
}

.product p {
    margin: 10px 0;
    font-size: 1.2em; /* Tamaño de fuente más grande */
}

.more-info {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Posicionar la información adicional a la derecha */
    transform: translateX(10px); /* Desplazar ligeramente la información adicional */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que esté encima de los demás elementos */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    width: 400px; /* Ancho de la información adicional */
    overflow: auto; /* Habilitar el desplazamiento si el contenido es demasiado grande */
}

.product.active .more-info {
    display: block;
}

.comments {
    margin-top: 20px;
}

.user-comment {
    margin-top: 10px; /* Añadir un poco de espacio entre los comentarios */
    border: 2px solid #ff0000; /* Borde rojo */
    border-radius: 20px;
    padding: 10px; /* Añadir un poco de espacio alrededor */
    transition: border-color 0.5s ease; /* Transición suave para el borde */
    display: flex;
    flex-direction: column;
}

/* Nuevo comentario borde momentario */
.new-comment {
    border: 2px solid green; /* Borde rojo */
    padding: 10px; /* Añadir un poco de espacio alrededor */
    transition: border-color 0.5s ease; /* Transición suave para el borde */
}

.user {
    font-weight: bold;
    align-self: flex-start;
}

.comment {
    display: block;
    align-self: flex-start;
    margin-left: 20px;
    font-size: 1.1em; /* Tamaño de fuente más grande */
}

.add-comment {
    margin-top: 10px;
    background-color: white; /* Fondo blanco */
    border: 2px solid red; /* Borde transparente */
    border-radius: 10px; /* Borde redondeado */
    padding: 8px 16px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

.add-comment:hover {
    background-color: #d0d0d0; /* Fondo gris claro al pasar el mouse */
    border-color: green; /* Borde rojo al pasar el mouse */
}



.filtrar h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
}

.filtrar {
    width: 20%; /* Ajusta el ancho del aside según sea necesario */
    padding: 20px;
    background-color: #f2f2f2; /* Color de fondo del aside */
    border-right: 2px solid #ccc; /* Borde solo en el lado derecho */
}

.main-content {
    width: 90%; /* Reducir el ancho del contenido principal */
    padding-left: 35px;
    
}

.title {
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtrar h3 {
    color: #000;
}

.checkbox-container {
    margin-top: 10px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    color: #000;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid #000;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #000;
    border: 2px solid #000;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#admin-mode-button {
    background-color: red;
    color: black;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#admin-mode-button:hover {
    background-color: #ba1414;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-price-button,
.add-discount-button {
    background-color: white;
    border: 2px solid red;
    margin-top: 10px;
    color: black;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-price-button:hover,
.add-discount-button:hover {
    background-color: #ba1414;
}


.package-button:hover{
    border: 2px solid red;
}

.packages-byside{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.packages-images{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.packages-images img{
    text-align: center;
    width: 100%;/* Ajustar el ancho de la imagen al 100% del contenedor */
    height: auto;
    border-radius: 5px;
}

.packages-images:hover{
    transform: scale(1.1); 
}
  