@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
    border-radius: 5px;
}

#navbar-image {
    width: 50px;  /* Cambia esto al ancho que desees */
    height: 50px; /* Cambia esto al alto que desees */
    margin: -7px 0px;
}

#navbar-title {
    color: white; /* Cambia el color del texto si lo deseas */
    margin-left: 1px; /* Añade un margen a la izquierda para separar el título del logo */
    position: relative; /* Añade posición relativa para mover el título */
    bottom: 10px; /* Ajusta este valor para mover el título hacia arriba */
}

#search{
    position: relative;
}
#search input {
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px; /* Ajusta este valor para cambiar el redondeo de las esquinas */
    border: 0;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0;
}

#search button{
    background-color: black;
    padding: 10px;
    border-color: red;
    position: absolute;
    border-radius: 0 5px 5px 0;
    color: white;
}

#search button:hover{
    background-color: rgba(0 0 0 / .2);
}

#productos,
#contact {
    text-decoration: none; /* Quita el subrayado predeterminado */
    color: white; /* Cambia el color del texto si lo deseas */
    position: relative; /* Añade posición relativa para que la línea esté posicionada correctamente */
    height: 30px;
    transition: color 0.3s; /* Añade una transición para el cambio de color del texto */
    margin: 5px 0px;
}

#productos:hover::after,
#contact:hover::after {
    content: ''; /* Añade un contenido vacío para crear la línea */
    position: absolute; /* Asegura que la línea esté posicionada correctamente */
    left: 0; /* Ajusta la posición de la línea */
    bottom: -2px; /* Ajusta la posición de la línea */
    width: 100%; /* Ajusta el ancho de la línea */
    height: 2px; /* Ajusta la altura de la línea */
    background-color: white; /* Cambia el color de la línea */
    transition: background-color 0.3s; /* Añade una transición para el cambio de color de la línea */
}

#cart_icon{
    font-size: 30px;
    color: white;
}


a {
    text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
}