@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: red;
    border-radius: 5px;
}

#navbar-image {
    width: 45px;  /* Cambia esto al ancho que desees */
    height: 45px; /* Cambia esto al alto que desees */
    margin: -10px 0px;
}

#menu, #contact, #cart {
    color: white;
}

#search input {
    width: 300px;
    height: 25px;
    margin-left: 10px;
    margin: -10px 0px;
    border-radius: 15px; /* Ajusta este valor para cambiar el redondeo de las esquinas */
}

#search input {
    margin-left: 10px;
}

