body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

#cart-items-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.item-name {
    margin-right: auto;
    color: #333;
}

.item-price {
    margin-left: auto;
    color: #333;
}

.cart-item img {
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
}

#total-price {
    color: #f00;
}

/* Estilo para los botones de agregar y quitar del carrito */
.add-button,
.remove-button {
    background-color: #ff4444; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover,
.remove-button:hover {
    background-color: #cc0000; /* Rojo más oscuro al pasar el mouse */
}

.item-price {
    margin-right: 10px; /* Añadir un margen derecho */
    color: #333;
}

.item-und {
    margin-left: 10px;
    margin-right: 10px; /* Añadir un margen derecho */
    color: #333;
}

/* Estilo para el contenedor del total */
#total-container {
    text-align: center; /* Centrar el contenido */
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para el texto "Total: $" */
#total-label {
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    margin-right: 5px; /* Espacio a la derecha */
}

/* Estilo para el total */
#total-price {
    display: inline-block; /* Para aplicar el estilo de borde y hover */
    padding: 5px 10px; /* Espacio interno */
    border: 2px solid #ccc; /* Borde */
    border-radius: 10px; /* Borde redondeado */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto de hover */
#total-price:hover {
    background-color: #f0f0f0; /* Color de fondo gris */
}

#buy-container{
    display: flex;
    justify-content: right;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    padding-right:20px ;
}

#buy-button{
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    display:none
}

#buy-button:hover{
    background-color: rgb(243, 48, 48);

}

