body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

#cart-items-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.item-name {
    margin-right: auto;
    color: #333;
}

.item-price {
    margin-left: auto;
    color: #333;
}

.cart-item img {
    width: 150px;
    margin-right: 10px;
    border-radius: 5px;
}

#total-price {
    color: #f00;
}

/* Estilo para los botones de agregar y quitar del carrito */
.add-button,
.remove-button {
    background-color: #ff4444; /* Rojo */
    color: #fff; /* Blanco */
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover,
.remove-button:hover {
    background-color: #cc0000; /* Rojo más oscuro al pasar el mouse */
}

.item-price {
    margin-right: 10px; /* Añadir un margen derecho */
    color: #333;
}

.item-und {
    margin-left: 10px;
    margin-right: 10px; /* Añadir un margen derecho */
    color: #333;
}

/* Estilo para el contenedor del total */
#total-container {
    text-align: center; /* Centrar el contenido */
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para el texto "Total: $" */
#total-label {
    font-weight: bold; /* Negrita */
    color: #333; /* Color del texto */
    margin-right: 5px; /* Espacio a la derecha */
}

/* Estilo para el total */
#total-price {
    display: inline-block; /* Para aplicar el estilo de borde y hover */
    padding: 5px 10px; /* Espacio interno */
    border: 2px solid #ccc; /* Borde */
    border-radius: 10px; /* Borde redondeado */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para el efecto hover */
}

/* Efecto de hover */
#total-price:hover {
    background-color: #f0f0f0; /* Color de fondo gris */
}

#buy-container{
    display: flex;
    justify-content: right;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    padding-right:20px ;
    margin-bottom: 100px;
}

#buy-button{
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    display:none

}

#buy-button:hover{
    background-color: rgb(243, 48, 48);

}


#titulo-carrito{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    animation: pop-up 0.5s ease forwards;

}

@keyframes pop-up {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-content {
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#schedule-button {
    background-color: red; /* Verde */
    color: white; /* Texto blanco */
    border: 2px solid black;
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 10px 2px; /* Márgenes *
    cursor: pointer; /* Cambiar cursor a pointer */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
    margin-left: 20px;
}

#schedule-button:hover {
    background-color: #7f0a29; /* Verde oscuro al pasar el cursor */
}

#schedule-button:active {
    background-color: #5e0303; /* Verde más oscuro al hacer clic */
}

#schedule-button:focus {
    outline: none; /* Sin contorno al enfocar */
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); /* Sombra al enfocar */
}

#delivery-date {
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Márgenes */
    border: 1px solid #ced4da; /* Borde con color */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Box sizing */
    font-size: 16px; /* Tamaño de la fuente */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

#delivery-date:focus {
    border-color: red; /* Color del borde al enfocar */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
    outline: none; /* Sin contorno */
}

#delivery-date.visible {
    display: block; /* Mostrar el input */
}

/* General styles for the admin panel */
.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid red;
    border-radius: 8px;
    max-width: 80%;
    background-color: #f9f9f9;
    margin-bottom: 100px;
}

/* Table styling */
.minimalist-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Table header styling */
.minimalist-table th,
.minimalist-table td {
    border: 1px solid red;
    padding: 10px;
    text-align: center;
}

/* Table header styling */
.minimalist-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* General button styling for the change button */
.change-button-class {
    background-color: #ffffff;
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-button-class:hover {
    background-color: red;
    color: #ffffff;
}

#past-purchases tr td:last-child {
    border: none;
}

#purchases-table thead tr th:last-child{
    border:none;
    background-color: white;
}